* {
  font: 14px NanumGothic, 나눔고딕, sans-serif;
}

body {
  /*background-color: pink;*/
}

header {
  display: flex;
  width: 1024px;
  height: 90px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

input.search {
  float: left;
  width: 100px;
  height: 32px;
  padding: 3px;
  box-sizing: border-box;
  line-height: 32px;
  border: 1px solid #cdcdcd;
}

button.search-button {
  padding: 0;
  border: 0;
}

button.search-button > img {
  height: 32px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  height: 42px;
  background-color: #5c5c5c;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu li {
  position: relative;
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 24px;
  color: #fff;
  cursor: pointer;
}

.menu > li > a {
  font: bold 15px/38px NanumGothic, 나눔고딕, sans-serif !important;
}

.menu > li:hover {
  background-color: rgb(44, 171, 149);
}

.menu > li:hover > ol.sub-menu {
  visibility: visible;
}

ol.sub-menu {
  visibility: hidden;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 42px;
  left: 0;
  padding: 8px 24px 12px;
  background-color: #fff;
}

ol.sub-menu a {
  color: #4a4a4a
}

ol.sub-menu a:hover {
  color: rgb(44, 171, 149);
  text-decoration: underline;
  font-weight: 900 !important;
}

ol.sub-menu li {
  width: 130px;
  height: 28px;
  padding: 0;
}

div.slide img {
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
}

section {
  display: inline-block;
  width: 300px;
  height: 240px;
  margin: 0 20px;
}

section h2 {
  font: 600 18px NanumGothic, 나눔고딕, sans-serif;
}

section div.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 2px solid #5c5c5c;
  padding-bottom: 15px;
}

section.notice div.section-header a {
  width: 40px;
  height: 21px;
  margin-top: 6px;
  padding-right: 20px;
  color: #333;
  background: url("images/more.png") no-repeat 0 0;
  cursor: pointer;
}

section.notice li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

section.notice li a div {
  display: inline-block;
  width: 190px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}

section.notice li time {
  width: 80px;
  font-size: 12px;
  color: #8c8c8c;
}

section.slide-banner {
  width: 300px;
  height: 240px;
  overflow: hidden;
}

section.slide-banner ul {
  position: relative;
  display: flex;
}

section.slide-banner img {
  object-fit: cover;
  width: 300px;
  height: 240px;
  float: left;
}
